#heading{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251,251,251,1); 
    margin: 10px;


}
#heading img{
    width: 200px;
    height: 100px;
}
#headtext{
    color: black;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
#navlinks ul{
   display: flex;
}
#navlinks ul li{
    display: flex;
   padding: 20px;
   transition: transform 0.7s;
 }

 #navlinks ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
 }

 

#navlinks-text{
    font-size: 20px;
}

#rest-card{
    margin:10px;
    padding: 10px;
    /* border: 2px solid black; */
    width: 300px; 
    transition: transform 0.7s;
    background-color: white;
    border-radius: 20px;
    /* height: 400px; */
    height: fit-content;
    max-height: 500px;
    line-height: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
#rest-card:hover{
    cursor: pointer;
    border-radius: 20px;
    transform: scale(0.9);
     box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
#rest-card-container{
   
}

#name-res{
    font-style: normal;
}

#rating{
    margin-top: -10px;
    font-size: medium;
}

#cuis{
    font-style: normal;
   font-weight: 100;
}

#price{

}

#body{
    background-color: rgba(249,241,241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
}
#rest-card img{
   width: 300px;
   height: 200px;
   border-radius: 20px;
}
#rated-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
}
#rated-btn1{
margin-right: 30px;
padding: 7px;
border-radius: 10px;
background-color: burlywood;
font-size: medium;
}

#rated-btn1:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bolder;
}

#rated-btn2{
margin-right: 30px;
padding: 10px;
border-radius: 10px;
background-color: rgb(221, 153, 104);
font-size: large;
font-weight: bolder;
}


#rated-btn2:hover{
    cursor: pointer;
    font-weight: bolder;
    }
    

#rating-block{
    display: flex;
    gap: 5px;
    /* border: 2px solid black; */
}

#rating-block img{
    height: 25px;
    width: 40px;
    margin-top: -15px;
}

#topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
   
#txtBtn{
    margin-left: 5px;
    padding: 7px;
border-radius: 10px;
background-color: burlywood;
font-size: medium;
}
#txtBtn:hover{
  cursor: pointer;
  background-color: rgb(239, 221, 196);
  font-weight: bolder;
}

#searchbar{
    padding: 7px;
    border-radius: 10px;
}

#card-cont-li{
    text-decoration: none;
    color: black;
}


#card-cont-li:visited {
   color: black;
   text-decoration: none;
}

#card-cont-li:hover {
    color: black;
    text-decoration: none;
}

#card-cont-li:active {
    color: black;
    text-decoration: none;
}

#cuis{
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}

#cuis:hover {
  overflow: visible;
  white-space: wrap; 
}

#user{
    border: 2px solid black;
    width: auto;
}